@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
:root{
    font-family: 'Crimson Text', sans-serif;
}
body {
    max-width: 980px;
    margin: auto;
}
header .navbar {
    position: fixed;
    width: 980px;
}
header .banner {
    height: 500px;
    width: 980px;
}
.banner img {
    height: 500px;
    width: 980px;
    background-position: center;
    background-size: cover;
}
.name {
    position: relative;
    top: -400px;
    left: 40px;
    width: 450px;
}
.phone {
    position: relative;
    top: -150px;
    left: 800px;
    width: 250px
}
.grid-container {
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 365px 300px 300px;
	grid-template-areas:
    "header  header  header"
	"sidebar content content";
	background-color: #e91e6300;
	color: #240909;
}
.quote {
    grid-area: sidebar;
}
.quote p {
    margin-bottom: 18px;
    margin-left: 80px;
    margin-top: 18px;
    margin-right: 18px;
}
.my_photo {
    grid-area: content;
    position: relative;
}
.text {
    grid-area: header;
}

main #services {
    width: 600px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left-width: 80px;
}
main .my_services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 980px;
}
main .my_services img {
    width: 450px;
    margin-left: 20px;
}
main .my_services h2 {
    margin-left: 200px;
}
main .my_services p {
    width: 450px;
    margin-left: 20px;
}
#contacts {
    width: 450px;
    margin-left: 300px;
    margin-bottom: 40px;
    margin-top: 40px;
}
main .social_networks {
}

main .contact_me {
    width: 450px;
    margin-left: 350px;
    margin-bottom: 20px;
    margin-top: 40px;
}
main .write {
    width: 450px;
    margin-left: 330px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main .container img {
    width: 250px;
}
